.job-wrapper {
    width: 100%;
    height: 95%;
    display: flex;
    overflow: hidden;
}

.job-preview-container {
    width: 25%;
    height: 100%;
    padding-left: 15px;
    padding-top: 15px;
    border: 1.5px solid black;
    border-top: none;
    overflow-y: scroll;
}

.job-preview-item {
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: .5px solid black;
}

.job-preview-item:last-child {
    border: none;
    padding-bottom: 15px;
}

.job-preview-title {
    font-size: 1.5em;
    font-weight: bold;
}

.job-preview-company {
    color: rgb(11, 211, 211);
    font-weight: bold;
}

.job-preview-item:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.job-preview-line {
    margin-bottom: 7px;
}

.job-preview-line:last-child {
    margin-bottom: 0;
}