.tab-expand-container {
    height: 94%;
    text-align: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab-container {
    text-align: center;
}

.tab-expand-container span {
    font-weight: bold;
    font-size: 15pt;
}

.tab-expand-container span:hover {
    cursor: pointer;
    color: cyan;
}

.tab-container span {
    font-weight: bold;
}

.tableau-flexbox {
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableau-flex-container {
    width: 75%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.tableau-flex-item {
    width: 400px;
    height: 350px;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(177, 177, 177);
    margin-bottom: 20px;
}

.tableau-flex-item:hover {
    border: 4px solid cyan;
    cursor: pointer;
}